html,body{
	height:100%;
}

#check {
	color:green;
}
.Side_nav{
	height:90%;
	width:15%;
	border:2px solid black;
 margin-top:5px;
 float:left;
 }	
.Side_nav a{
	display:block;
	color:black;
 padding : 3px 20px;
 text-decoration:none;
}

.Side_nav a:hover,#clicked{
	color:#0387e9;}
	 
	 .element {
	margin-top:30px;
}
.element>a img{
  	
  	height:16px;
  	width:16px;
  	float:left;
  	margin-top:3px;
  	}

.components{
	display:none;
	transition: display 2s;
}
.element:hover>.components{
	display:block;
}
.components a{
	text-align:center;
font :18px "Fixedsys";
margin-left:15px;
}
    
.middle{

float:left;	
	width:83.5%;
	border :2px solid black;
	height:90%;
	margin:5px 0px 0px 6px;
}
.middle h1{
	text-align:center;
font:bold 35px "Segoe UI Light";
margin-top:0px;
}
.products{
	margin-left:30px;
	border :3px solid #a6a6a6;
	width:200px;
	height:330px;
	float:left;
}

.products img{
	margin-top:10px;
	width:90%;
	height:45%;
}
.products h5{
	text-align:center;
	margin-left:8px;
	font-family:Georgia;
	margin-bottom:0px;
	
}
       .products p{
       margin-top:6px;
       font:bold 13px "Segoe UI Light";
       
       text-align:center;
       margin-bottom:12px;
       } 
span{
	
	color:#0387e9;
	margin-left:80px;

	
}  

.products a{
	font:15px Constantia;
	background-color:#0387e9;
margin-top:8px;
	color:white;
	text-decoration:none;
padding:4px;
	float:right;

border:1px solid black;
margin-right:58px;	
} 
.products a:hover{
	background-color:#0275ca;
	
}    
                                                                                           
  hr{
  margin-left:5px;
  margin-right:5px;
 color:#808080;
  }
  .folder{
  padding:20px;
  margin:20px;
  display:inline-block;
 
  
  }
  .folder a{
  color:#2d2d2d;
  text-decoration:none;
  }
  
  
  
  .folder img{
  height:120px;
  width:120px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  }
  .folder a:hover img{
  height:115px;
  width:115px;
  }